---
title: Translation of Nocte Surgentes
pdf: true
---
{{~#trim}}
<table>
	<thead>
		<tr>
			<th>Pope Gregory I, ca. AD 600</th>
			<th>Literal Translation</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
{{/trim~}}
Nocte surgentes vigilemus omnes,<br/>
semper in psalmis meditemur atque<br/>
viribus totis Domino canamus<br/>
dulciter hymnos,
{{~#trim}}
			</td>
			<td>
{{/trim~}}
In the night, rising, let us keep vigil everyone,<br/>
at all times in psalms let us meditate and<br/>
with all our strength to the Lord let us sing<br/>
sweetly, hymns,
{{~#trim}}
			</td>
		</tr>
		<tr>
			<td>
{{/trim~}}
Ut, pio regi pariter canentes<br/>
cum suis sanctis mereamur aulam<br/>
ingredi caeli, simul et beatam<br/>
ducere vitam.
{{~#trim}}
			</td>
			<td>
{{/trim~}}
That, to the Holy King together singing,<br/>
with His saints may we merit the hall<br/>
of heaven to enter, and likewise a blessed<br/>
life to lead.
{{~#trim}}
			</td>
		</tr>
		<tr>
			<td>
{{/trim~}}
Praestet hoc nobis Deitas beata<br/>
Patris ac Nati, pariterque Sancti<br/>
Spiritus, cuius resonat per omnem<br/>
gloria mundum. Amen.
{{~#trim}}
			</td>
			<td>
{{/trim~}}
May He grant this to us, the Deity Blessed<br/>
of Father and of Son, and equally of Holy<br/>
Spirit, of whose glory resonates throughout all<br/>
the world. Amen.
{{~#trim}}
			</td>
		</tr>
	</tbody>
</table>
{{/trim~}}
