---
title: Translation of Veni Creator Spiritus
pdf: true
---
{{~#trim}}
<table>
	<thead>
		<tr>
			<th>Rabanus Maurus, ca. AD 800</th>
			<th>Literal Translation</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
{{/trim~}}
Veni, Creator Spiritus,<br/>
mentes tuorum visita,<br/>
imple superna gratia<br/>
quae tu creasti pectora.
{{~#trim}}
			</td>
			<td>
{{/trim~}}
Come, creator Spirit,<br/>
visit the souls of your own,<br/>
fill with heavenly grace<br/>
the breasts that you have created.
{{~#trim}}
			</td>
		</tr>
		<tr>
			<td>
{{/trim~}}
Qui diceris Paraclitus,<br/>
altissimi donum Dei,<br/>
fons vivus, ignis, caritas,<br/>
et spiritalis unctio.
{{~#trim}}
			</td>
			<td>
{{/trim~}}
You are called Paraclete,<br/>
gift of the most high God,<br/>
living water, flame, charity,<br/>
and spiritual anointing.
{{~#trim}}
			</td>
		</tr>
		<tr>
			<td>
{{/trim~}}
Tu, septiformis munere,<br/>
digitus paternae dexterae,<br/>
Tu rite promissum Patris,<br/>
sermone ditans guttura.
{{~#trim}}
			</td>
			<td>
{{/trim~}}
You, who are sevenfold in your gifts,<br/>
finger of God's right hand,<br/>
you who were rightly promised by the Father,<br/>
enrich our throats with speech.
{{~#trim}}
			</td>
		</tr>
		<tr>
			<td>
{{/trim~}}
Accende lumen sensibus,<br/>
infunde amorem cordibus;<br/>
infirma nostri corporis<br/>
virtute firmans perpeti.
{{~#trim}}
			</td>
			<td>
{{/trim~}}
Inflame the light of our senses,<br/>
pour love into our hearts;<br/>
the weakness of our bodies<br/>
strengthen with lasting power.
{{~#trim}}
			</td>
		</tr>
		<tr>
			<td>
{{/trim~}}
Hostem repellas longius,<br/>
pacemque dones protinus:<br/>
ductore sic te praevio<br/>
vitemus omne noxium.
{{~#trim}}
			</td>
			<td>
{{/trim~}}
Drive the enemy far back,<br/>
and at once grant us peace:<br/>
with you going ahead of us,<br/>
may we avoid all harm.
{{~#trim}}
			</td>
		</tr>
		<tr>
			<td>
{{/trim~}}
Per te sciamus da Patrem,<br/>
noscamus atque Filium;<br/>
Teque utriusque Spiritum<br/>
credamus omni tempore.
{{~#trim}}
			</td>
			<td>
{{/trim~}}
Through you may we know the Father,<br/>
and recognize the Son;<br/>
and may we always believe in you,<br/>
Spirit of both.
{{~#trim}}
			</td>
		</tr>
		<tr>
			<td>
{{/trim~}}
Deo Patri sit gloria,<br/>
et Filio, qui a mortuis<br/>
surrexit, ac Paraclito,<br/>
in saeculorum saecula.
{{~#trim}}
			</td>
			<td>
{{/trim~}}
To God the Father be glory,<br/>
and to the Son, who from death<br/>
rose again, and to the Holy Spirit,<br/>
forever and ever.
{{~#trim}}
			</td>
		</tr>
	</tbody>
</table>
{{/trim~}}
