body {
	font-family: Arial;
	font-size: 15px;
}

.title, .subtitle {
	text-align: center;
}

h1 {
	font-size: 16px;
	font-weight: bold;
	margin: 18px 0;
}

h2 {
	font-family: 'Trebuchet MS';
	font-size: 21px;
	font-weight: normal;
	margin: 12px 0 0 0;
}

h3 {
	font-size: 15px;
	font-weight: normal;
}

p {
	margin: 8px 0;
}

a {
	color: #000;
}

blockquote {
	font-size: 13px;
}

cite.book {
	font-style:italic;
}

ol ul {
	list-style-type: lower-latin;
}

ol ul ul {
	list-style-type: lower-roman;
}

table {
	font-size: 13px;
	margin: 0 auto;
	border-collapse: collapse;
}

th {
	font-weight: normal;
	font-size: 16px;
}

td, th {
	border: 1px solid black;
	padding: 7px;
}
