---
pdf: true
---
{{#repeat 3}}
## Hymns By Request
I would like to study hymns related to:

{{~#trim}}
<table class="columns">
	<tbody>
		<tr>
{{/trim~}}
			<td>...my favorite hymnwriter</td><td>...the church season</td><td>...this scripture passage</td>
{{~#trim}}
		</tr>
		<tr>
{{/trim~}}
			<td>...a current event</td><td>...a historical time period</td><td>...something else I've been thinking about</td>
{{~#trim}}
		</tr>
	</tbody>
</table>
{{/trim~}}

{{#repeat 4}}<div class="blank"></div>{{/repeat}}

<br/>
<br/>

{{/repeat}}
