@import 'cayman';

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

@mixin font-face($name, $filename) {
	@font-face {
		font-family: $name;
		src: url('../fonts/#{$filename}.woff') format('woff');
		@content;
	}
}

@include font-face('Libertine', 'libertine-regular');
@include font-face('Libertine', 'libertine-italic') {
	font-style: italic;
}
@include font-face('Libertine', 'libertine-bold') {
	font-weight: bold;
}
@include font-face('Libertine SC', 'libertine-sc');

body {
	font-family: "Libertine", Georgia, serif;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-content {
	h1, h2 {
		font-weight: bold;
	}
}

ol.week-list {
	list-style: none;
}

cite.book {
	font-style: italic;
}

cite.tune {
	font-style: normal;
	font-family: "Libertine SC", "Libertine", Georgia, serif;
}
