---
title: Psalm 23
subtitle: English Standard Version
pdf: true
---
<p>
{{~#line "0" "1"}}The Lord is my shepherd; I shall not want.{{/line~}}
{{~#line "1" "2"}}He makes me lie down in green pastures.{{/line~}}
{{~#line "0"}}He leads me beside still waters.{{/line~}}
{{~#line "1" "3"}}He restores my soul.{{/line~}}
{{~#line "0"}}He leads me in paths of righteousness.{{/line~}}
{{~#line "1"}}for his name's sake.{{/line~}}
</p><p>
{{~#line "0" "4"}}Even though I walk through the valley of the shadow of death,{{/line~}}
{{~#line "1"}}I will fear no evil,{{/line~}}
{{~#line "0"}}for you are with me;{{/line~}}
{{~#line "1"}}your rod and your staff,{{/line~}}
{{~#line "1"}}they comfort me.{{/line~}}
</p><p>
{{~#line "0" "5"}}You prepare a table before me{{/line~}}
{{~#line "1"}}in the presence of my enemies;{{/line~}}
{{~#line "0"}}you anoint my head with oil;{{/line~}}
{{~#line "1"}}my cup overflows.{{/line~}}
{{~#line "0" "6"}}Surely goodness and mercy shall follow me{{/line~}}
{{~#line "1"}}all the days of my life,{{/line~}}
{{~#line "0"}}and I shall dwell in the house of the Lord{{/line~}}
{{~#line "1"}}forever.{{/line~}}
</p>
