---
title: Translation of Be Thou My Vision
pdf: true
---
{{~#trim}}
<table>
	<thead>
		<tr>
			<th>Original</th>
			<th>Mary Byrne, 1905</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
{{/trim~}}
Rop tú mo baile, a Choimdiu cride:
ní ní nech aile acht Rí secht nime.
{{~#trim}}
			</td>
			<td>
{{/trim~}}
Be thou my vision O Lord of my heart
None other is aught but the King of the seven heavens.
{{~#trim}}
			</td>
		</tr>
		<tr>
			<td>
{{/trim~}}
Rop tú mo scrútain i l-ló 's i n-aidche;
rop tú ad-chëar im chotlud caidche.
{{~#trim}}
			</td>
			<td>
{{/trim~}}
Be thou my meditation by day and night.
May it be thou that I behold even in my sleep.
{{~#trim}}
			</td>
		</tr>
		<tr>
			<td>
{{/trim~}}
Rop tú mo labra, rop tú mo thuicsiu;
rop tussu dam-sa, rob misse duit-siu.
{{~#trim}}
			</td>
			<td>
{{/trim~}}
Be thou my speech, be thou my understanding.
Be thou with me, be I with thee
{{~#trim}}
			</td>
		</tr>
		<tr>
			<td>
{{/trim~}}
Rop tussu m'athair, rob mé do mac-su;
rop tussu lem-sa, rob misse lat-su.
{{~#trim}}
			</td>
			<td>
{{/trim~}}
Be thou my father, be I thy son.
Mayst thou be mine, may I be thine.
{{~#trim}}
			</td>
		</tr>
		<tr>
			<td>
{{/trim~}}
Rop tú mo chathscíath, rop tú mo chlaideb;
rop tussu m'ordan, rop tussu m'airer.
{{~#trim}}
			</td>
			<td>
{{/trim~}}
Be thou my battle-shield, be thou my sword.
Be thou my dignity, be thou my delight.
{{~#trim}}
			</td>
		</tr>
		<tr>
			<td>
{{/trim~}}
Rop tú mo dítiu, rop tú mo daingen;
rop tú nom-thocba i n-áentaid n-aingel.
{{~#trim}}
			</td>
			<td>
{{/trim~}}
Be thou my shelter, be thou my stronghold.
Mayst thou raise me up to the company of the angels.
{{~#trim}}
			</td>
		</tr>
		<tr>
			<td>
{{/trim~}}
Rop tú cech maithius dom churp, dom anmain;
rop tú mo flaithius i n-nim 's i talmain.
{{~#trim}}
			</td>
			<td>
{{/trim~}}
Be thou every good to my body and soul.
Be thou my kingdom in heaven and on earth.
{{~#trim}}
			</td>
		</tr>
		<tr>
			<td>
{{/trim~}}
Rop tussu t' áenur sainserc mo chride;
ní rop nech aile acht Airdrí nime.
{{~#trim}}
			</td>
			<td>
{{/trim~}}
Be thou solely chief love of my heart.
Let there be none other, O high King of Heaven.
{{~#trim}}
			</td>
		</tr>
		<tr>
			<td>
{{/trim~}}
Co talla forum, ré n-dul it láma,
mo chuit, mo chotlud, ar méit do gráda.
{{~#trim}}
			</td>
			<td>
{{/trim~}}
Till I am able to pass into thy hands,
My treasure, my beloved through the greatness of thy love
{{~#trim}}
			</td>
		</tr>
		<tr>
			<td>
{{/trim~}}
Rop tussu t' áenur m' urrann úais amra:
ní chuinngim daíne ná maíne marba.
{{~#trim}}
			</td>
			<td>
{{/trim~}}
Be thou alone my noble and wondrous estate.
I seek not men nor lifeless wealth.
{{~#trim}}
			</td>
		</tr>
		<tr>
			<td>
{{/trim~}}
Rop amlaid dínsiur cech sel, cech sáegul,
mar marb oc brénad, ar t' fégad t' áenur.
{{~#trim}}
			</td>
			<td>
{{/trim~}}
Be thou the constant guardian of every possession and every life.
For our corrupt desires are dead at the mere sight of thee.
{{~#trim}}
			</td>
		</tr>
		<tr>
			<td>
{{/trim~}}
Do serc im anmain, do grád im chride,
tabair dam amlaid, a Rí secht nime.
{{~#trim}}
			</td>
			<td>
{{/trim~}}
Thy love in my soul and in my heart --
Grant this to me, O King of the seven heavens.
{{~#trim}}
			</td>
		</tr>
		<tr>
			<td>
{{/trim~}}
Tabair dam amlaid, a Rí secht nime,
do serc im anmain, do grád im chride.
{{~#trim}}
			</td>
			<td>
{{/trim~}}
O King of the seven heavens grant me this --
Thy love to be in my heart and in my soul.
{{~#trim}}
			</td>
		</tr>
		<tr>
			<td>
{{/trim~}}
Go Ríg na n-uile rís íar m-búaid léire;
ro béo i flaith nime i n-gile gréine
{{~#trim}}
			</td>
			<td>
{{/trim~}}
With the King of all, with him after victory won by piety,
May I be in the kingdom of heaven O brightness of the son.
{{~#trim}}
			</td>
		</tr>
		<tr>
			<td>
{{/trim~}}
A Athair inmain, cluinte mo núall-sa:
mithig (mo-núarán!) lasin trúagán trúag-sa.
{{~#trim}}
			</td>
			<td>
{{/trim~}}
Beloved Father, hear, hear my lamentations.
Timely is the cry of woe of this miserable wretch.
{{~#trim}}
			</td>
		</tr>
		<tr>
			<td>
{{/trim~}}
A Chríst mo chride, cip ed dom-aire,
a Flaith na n-uile, rop tú mo baile.
{{~#trim}}
			</td>
			<td>
{{/trim~}}
O heart of my heart, whatever befall me,
O ruler of all, be thou my vision.
{{~#trim}}
			</td>
		</tr>
	</tbody>
</table>
{{/trim~}}
